<h3>Backoffice Themes <small>v0.0.0</small></h3>

<div>
    Pick a theme from pre-defined ones:
    <br />
    <br />
    <table>
        <tr>
            <td style="padding-right: 15px">
                <img src="/App_Plugins/Our.Umbraco.BackofficeThemes/Img/default.png" style="width: 300px; height: 100px" alt="" />
                <h4>Default (7.6+)</h4>
            </td>
            <td style="padding-right: 15px">
                <img src="/App_Plugins/Our.Umbraco.BackofficeThemes/Img/vintage.png" style="width: 300px; height: 100px" alt="" />
                <h4>Vintage (7.x)</h4>
            </td>
            <td style="padding-right: 15px">
                <img src="/App_Plugins/Our.Umbraco.BackofficeThemes/Img/hacker.png" style="width: 300px; height: 100px" alt="" />
                <h4>Hacker</h4>
            </td>
            <td>
                <img src="//placehold.it/300x100?text=!" style="width: 300px; height: 100px" alt="" />
                <h4>Dark</h4>
            </td>
        </tr>
    </table>
</div>

<br />
<br />

<div>
    Customize current theme:
    <br />
    <h1>[ ToDo ]</h1>
</div>