<div ng-controller="Our.Umbraco.BackofficeThemes.Controllers.DashboardController as vm">

    <h3>Backoffice Themes <small>v{{vm.version}}</small></h3>
    <p>Pick a theme...</p>

    <div class="row-fluid">
        <ul class="thumbnails">
            <li class="span2" ng-repeat="theme in vm.themes">
                <a class="btn-link" target="_blank" href="" ng-click="vm.setTheme(theme)" title="{{theme.title}}">
                    <div class="thumbnail" style="margin-right: 20px; padding: 20px;">
                        <img ng-src="{{theme.thumbnail}}" alt="{{theme.title}}">
                        <div style="font-weight: bold; text-align: center; margin: 20px 0 0;">{{theme.title}}</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>