/* General */
body.hackerTh {
    color: lime;
    background-color: #000 !important;
    font-family: monospace;
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in
}

    body.hackerTh a {
        color: lime;
    }

    body.hackerTh .umb-editor-header,
    body.hackerTh .umb-editor-sub-header,
    body.hackerTh .umb-modalcolumn-header {
        color: lime !important;
        background-color: #000 !important;
        -webkit-transition: background-color 0.3s ease-in;
        transition: background-color 0.3s ease-in
    }

    body.hackerTh .umb-editor-header {
        border-bottom: 1px solid lime;
    }

    body.hackerTh .umb-modalcolumn-header {
        border-bottom: 1px solid lime;
    }

    body.hackerTh .umb-modalcolumn-body {
        color: lime !important;
        background-color: #000 !important;
        -webkit-transition: background-color 0.3s ease-in;
        transition: background-color 0.3s ease-in
    }

    /* Search */
    body.hackerTh .form-search .icon,
    body.hackerTh .form-search .icon-search {
        color: #000;
    }

    body.hackerTh .form-search .search-input,
    body.hackerTh input.umb-panel-header-name-input {
        background: lime;
        border-color: #000;
    }

        body.hackerTh .form-search .search-input:hover,
        body.hackerTh .form-search .search-input:focus,
        body.hackerTh .form-search .search-input:focus:hover {
        }

    /* Buttons */
    body.hackerTh .btn,
    body.hackerTh .btn-info {
        color: #000;
        background: lime;
    }

        body.hackerTh .btn-primary .caret,
        body.hackerTh .btn-warning .caret,
        body.hackerTh .btn-danger .caret,
        body.hackerTh .btn-info .caret,
        body.hackerTh .btn-success .caret,
        body.hackerTh .btn-inverse .caret {
            border-top-color: #000;
            border-bottom-color: #000;
        }

    /* Sections */
    body.hackerTh ul.sections {
        background-color: #000 !important;
        border-right: 1px solid lime;
        -webkit-transition: background-color 0.3s ease-in;
        transition: background-color 0.3s ease-in
    }

        body.hackerTh ul.sections li {
            border-left: 4px #000 solid;
        }

            body.hackerTh ul.sections li.avatar a img {
                border: 1px solid lime;
            }

            body.hackerTh ul.sections li [class^="icon-"],
            body.hackerTh ul.sections li [class*=" icon-"],
            body.hackerTh ul.sections li img.icon-section {
                color: lime;
            }

            body.hackerTh ul.sections li.current,
            body.hackerTh ul.sections li:hover {
                background-color: lime !important;
                border-left: 4px lime solid;
                -webkit-transition: background-color 0.3s ease-in;
                transition: background-color 0.3s ease-in
            }

                body.hackerTh ul.sections li.current a span,
                body.hackerTh ul.sections li:hover a span,
                body.hackerTh ul.sections li.current [class^="icon-"],
                body.hackerTh ul.sections li:hover [class^="icon-"],
                body.hackerTh ul.sections li.current [class*=" icon-"],
                body.hackerTh ul.sections li:hover [class*=" icon-"],
                body.hackerTh ul.sections li.current img.icon-section,
                body.hackerTh ul.sections li:hover img.icon-section {
                    color: #000;
                }

    body.hackerTh .ui-resizable-e {
        background-color: lime;
        border: 1px solid #000;
    }

    body.hackerTh .navigation-inner-container {
        border-right: 1px solid lime;
    }

    /* Umbraco Tree */
    body.hackerTh .umb-tree div:hover {
        background: lime;
    }

    body.hackerTh .umb-tree li.root > div a,
    body.hackerTh .umb-tree li.root h5,
    body.hackerTh .umb-tree-header,
    body.hackerTh .umb-tree .icon,
    body.hackerTh .umb-actions i {
        color: lime;
    }

    body.hackerTh .umb-tree li.current > div,
    body.hackerTh .umb-tree div.selected {
        background: lime;
    }

        body.hackerTh .umb-tree li.current > div a.umb-options i,
        body.hackerTh .umb-tree div.selected i {
            background: #000;
            border-color: #000;
        }

        body.hackerTh .umb-tree li.current > div a,
        body.hackerTh .umb-tree li.current > div i.icon,
        body.hackerTh .umb-tree li.current > div ins,
        body.hackerTh .umb-tree li > div:hover a,
        body.hackerTh .umb-tree li > div:hover i.icon,
        body.hackerTh .umb-tree li > div:hover ins {
            color: #000 !important;
            background-color: lime;
            border-color: lime;
        }

    /* Umbraco Actions */
    body.hackerTh .umb-actions li.sep {
        border-top: 1px solid lime;
    }

    body.hackerTh .umb-actions a:hover,
    body.hackerTh .umb-actions a:focus,
    body.hackerTh .umb-actions li.selected {
        color: #000 !important;
        background: lime !important;
    }

        body.hackerTh .umb-actions a:hover i,
        body.hackerTh .umb-actions a:focus i,
        body.hackerTh .umb-actions li.selected i {
            color: #000;
        }

    /* Editor */
    body.hackerTh .nav-tabs {
        border-bottom: 1px solid lime;
    }

        body.hackerTh .nav-tabs > .active > a,
        body.hackerTh .nav-tabs > .active > a:hover,
        body.hackerTh .nav-tabs > .active > a:focus {
            background-color: lime;
            border: 1px solid lime;
        }

        body.hackerTh .nav-tabs > li > a:hover,
        body.hackerTh .nav-tabs > li > a:focus {
            background-color: lime;
            border-color: lime;
        }

    body.hackerTh .umb-editor-wrapper {
        background: #000;
    }

    body.hackerTh .umb-editor-drawer {
        background: #000;
        border-top: 1px solid lime;
    }

    body.hackerTh .umb-control-group {
        border-bottom: 1px solid lime;
    }

    body.hackerTh label.control-label,
    body.hackerTh .control-label {
        color: lime;
    }

    body.hackerTh textarea, input[type="text"],
    body.hackerTh input[type="password"],
    body.hackerTh input[type="datetime"],
    body.hackerTh input[type="datetime-local"],
    body.hackerTh input[type="date"],
    body.hackerTh input[type="month"],
    body.hackerTh input[type="time"],
    body.hackerTh input[type="week"],
    body.hackerTh input[type="number"],
    body.hackerTh input[type="email"],
    body.hackerTh input[type="url"],
    body.hackerTh input[type="search"],
    body.hackerTh input[type="tel"],
    body.hackerTh input[type="color"],
    body.hackerTh .uneditable-input {
        background-color: lime;
        border: 1px solid #000;
    }
